<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yc.dao.LostMapper">
	
	<cache></cache>
	
	<insert id="addLost" parameterType="Lost" >
		insert into lost(uid,type,lostinfo,lostdate,createdate,img,name,status) 
		values(#{uid},#{type},#{lostinfo},#{lostdate},#{createdate},#{img},#{name},1)
	</insert>
	
	<select id="findAll" parameterType="HashMap" resultType="HashMap">
		select * from lost
	</select>
	
	
	<select id="findLostByType" parameterType="Integer" resultType="HashMap">
		select * from lost where type=#{id}
	</select>
	
</mapper>